{% include "header.html" %}
    <section class="about ">
        <div class="container ">
            <h1 class="lg-head color-yellow about-head">About</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, aperiam ut iste cum nulla accusamus eveniet? At, minus? Molestias vitae necessitatibus id explicabo ad inventore officia in, hic sapiente modi?</p>
            <div class="option">
                <section class="part1">
                    <ul>
                        <li>Lorem ipsum dolor </li>
                        <li>Lorem ipsum dolor </li>
                        <li>Lorem ipsum dolor </li>
                    </ul>
                </section>
                <section class="part2">
                    <ul>
                        <li>Lorem ipsum dolor </li>
                        <li>Lorem ipsum dolor </li>
                        <li>Lorem ipsum dolor </li>
                    </ul>
                </section>
            </div>
            <div class="more">
                <div class="khobya khobya1">
                    <h1 class="color-yellow">2700</h1>
                    <p>Places</p>
                </div>
                <div class="khobya khobya2">
                    <h1 class="color-yellow">2700</h1>
                    <p>Tours</p>
                </div>
                <div class="khobya khobya3">
                    <h1 class="color-yellow">2700</h1>
                    <p>Hotels</p>
                </div>
                <div class="khobya khobya4">
                    <h1 class="color-yellow">2700</h1>
                    <p>Resturent</p>
                </div>
            </div>
            <div class="banner">
                <div class="banner-left">
                    <p class="banner-line">Reach Us to start new journey</p>
                </div>
                <div class="banner-right">
                    <a href="./contact.html" class="banner-btn">Contact Us</a>
                </div>
            </div>
        </div>
        
    </section>
    {% include "footer.html" %}
</body>
</html>