{% extends "base.html" %}
{% block content %}
<section class="contact-form">
    <div class="container">
        <div class="form-wrapper">
            <div class="address">
                <div class="address-group">
                    <h1 class="color-yellow">Location</h1>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="address-group">
                    <h1 class="color-yellow">Contact No</h1>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="address-group">
                    <h1 class="color-yellow">People</h1>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <img src="./images/pexels-ingo-joseph-188035.jpg" alt="">
            </div>



            <form action="" class="form">
                <div class="form-wrapper">
                    <h1 class="color-yellow">Contact Us</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae, ullam?</p>
                    <div class="form-group">
                        <label for="user" class="color-yellow">Username</label>
                        <input type="text" name="" id="user" placeholder="Type your name" required>
                    </div>
                    <div class="form-group">
                        <label for="Password" class="color-yellow">Password</label>
                        <input type="text" name="" id="Password" placeholder="Type your password" required>
                    </div>
                    <div class="form-group">
                        <label for="Email" class="color-yellow">Email</label>
                        <input type="text" name="" id="Email" placeholder="Enter your Email" required>
                    </div>
                    <div class="form-group">
                        <label for="" class="color-yellow">Comment here</label>
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                    </div>
                    <input type="submit" class="sub-btn" value="Submit">
                </div>
            </form>

        </div>
    </div>
    
</section>
{% endblock %}
    
</body>
</html>